{# One <tr> for the cards table. Used inside _table.html and as the response of admin saves. #}
{% set modal_url = '/admin/cards/' ~ card.cardId ~ '/edit' if admin else '/cards/' ~ card.cardId %}
<tr
  id="card-row-{{ card.cardId }}"
  class="card-row"
  hx-get="{{ modal_url }}"
  hx-target="#modal"
  hx-swap="innerHTML"
>
  <td>{{ card.faction }}</td>
  <td class="title-cell">{{ card.title }}</td>
  <td>{{ card.type }}</td>
  <td>{{ card.rarity }}</td>
  <td class="abilities">{{ card.abilities }}</td>
  <td class="abilities">{{ card.extra_abilities }}</td>
  <td>{{ card.set }}</td>
  {% include "_qty_cell.html" %}
  <td class="num">{{ card.kredits }}</td>
  <td class="num">{{ card.operationCost if card.operationCost is not none else '' }}</td>
  <td class="num">{{ card.attack if card.attack is not none else '' }}</td>
  <td class="num">{{ card.defense if card.defense is not none else '' }}</td>
</tr>
{% if include_oob_modal_clear %}
<div id="modal" hx-swap-oob="innerHTML"></div>
{% endif %}
